/*====================================
    HEADER
====================================*/

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

    flex-wrap:wrap;

}
header{

    position:sticky;

    top:0;

    z-index:1000;

    background:white;

}

.logo a{

    font-size:2rem;

    font-weight:700;

    color:var(--text);

    text-decoration:none;

}

.logo a:hover{

    color:var(--primary);

}

/*====================================
    NAVIGATION
====================================*/

header nav ul{

    display:flex;

    flex-wrap:wrap;

    justify-content:flex-end;

    gap:30px;

}


header nav ul li a{

    text-decoration:none;

    color:var(--text);

    font-weight:600;

    transition:.3s;

}

header nav ul li a:hover{

    color:var(--primary);

}