/*====================================
    FOUNDATION
====================================*/

@import url("CSS/reset.css");

@import url("CSS/variables.css");

@import url("CSS/global.css");

/*====================================
    COMPONENTS
====================================*/

@import url("CSS/header.css");

@import url("CSS/buttons.css");

@import url("CSS/footer.css");

/*====================================
    PAGE SECTIONS
====================================*/

@import url("CSS/hero.css");

@import url("CSS/about.css");

@import url("CSS/projects.css");

@import url("CSS/skills.css");

@import url(CSS/contact.css);

@import url(CSS/currently.css);

@import url(CSS/education.css);

@import url(CSS/experience.css);

@import url(CSS/learning.css);

@import url(CSS/resources.css);
/*====================================
    EFFECTS
====================================*/

@import url("CSS/animations.css");

@import url("CSS/responsive.css");

@import url("CSS/utilities.css");


/*====================================
    JELLYFISH
====================================*/

#jellyfish{

    position:fixed;

    width:40px;

    pointer-events:none;

    z-index:9999;

    left:0;

    top:0;

    transition:
        transform .15s linear;

}

@keyframes float{

    0%{

        transform:translateY(0px) scale(1);

    }

    50%{

        transform:translateY(-5px) scale(1.05);

    }

    100%{

        transform:translateY(0px) scale(1);

    }

}

#jellyfish{

    animation:float 3s ease-in-out infinite;

}

/*====================================
    BUBBLES
====================================*/

.bubble{

    position:fixed;

    width:10px;

    height:10px;

    background:rgba(255,255,255,0.8);

    border-radius:50%;

    pointer-events:none;

    z-index:9998;

    animation:bubbleFloat 2s linear forwards;

}

@keyframes bubbleFloat{

    from{

        transform:translateY(0) scale(1);

        opacity:1;

    }

    to{

        transform:translateY(-80px) scale(0.2);

        opacity:0;

    }

}